<section>
  <article>
    <h2>Profil</h2>
    <p>Samantha, 30 ans, Marseille, France.</p>
    <p>En un peu plus de 10 ans après le bac, j'ai pu tester diverses filières en cherchant ma voie. Etudes de langue et de communication, régulation des appels d'urgence... Puis un jour, j'ai eu le cran de tenter une nouvelle réorientation dans un domaine qui m'avait toujours attirée mais dans lequel je n'avais pas osé me lancer à l'époque: l'informatique et le développement web.</p>
    <p>A l'âge de 12 ans je réalisais mes premiers sites internet en HTML seul, en m'aidant surtout de Photoshop pour obtenir des design qui me plaisaient.</p>
    <p>A 15 ans, je personnalisais des feuilles de styles CSS pour obtenir le design que je souhaitais sur des blogs.</p>
    <p>A 21 ans, lors de mes études de communication, je cconfirmais mon attrait pour les technologies et le web, en apprenant à réaliser des sites web avec Word Press, mais en apprenant également le montage vidéo sur Pinnacle pour monter le projet de bande annonce vidéo réalisé en BTS.</p>
    <p>A 28 ans, je remets le nez dans le développement web sur Open Classroom, et je remets à jour mes connaissances en HTML et CSS, mais je m'attaque à PHP puis par la suite à JavaScript.</p>
    <p>A 29 ans, je fais le grand saut, et tente une formation de développeur intégrateur web à la 3W Academy de Marseille. J'y révise mes bases, et je commence à acquérir des connaissances plus poussées. L'intégration et la sémantique du HTML et les bonnes pratiques en CSS, la réactivité de JavaScript, les algorithmes, puis les données dynamiques avec PHP et MySQL, l'asynchrone d'Ajax, les bases de la Programmation Orientée Objet.</p>
    <p>Un mois après cette première formation, toujours en 2020, je me lance dans l'aventure du <span>Concours qui casse les codes</span> et c'est désormais aux frameworks que je m'attaque, avec Symfony et Angular, tout en renforçant mes connaissances sur les bonnes pratiques de code, les principes SOLID...</p>
  </article>
  <article>
    <h2>Compétences</h2>
    <div>
      <h3>Frontend</h3>
      <ul>
        <li>Angular</li>
        <li>JavaScript </li>
      </ul>
    </div>
    <div>
      <h3>Backend</h3>
      <ul>
        <li>Symfony</li>
        <li>PHP</li>
        <li>MySQL</li>
      </ul>
    </div>
  </article>
  <article>
    <h2>Contact</h2>
    <a href="mailto:samantha.defays@gmail.com">Email</a>
  </article>
</section>
